@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form id="advForm" method="post">
    <input type="hidden" name="FeatureId" value="@Model.FeatureId" />

    <div class="form-group mb-3">
        <label for="title">Başlık</label>
        <input type="text" id="title" name="Title" class="form-control" value="@Model.Title" />
    </div>

    <div class="form-group mb-3">
        <label for="icon">İkon (class adı)</label>
        <input type="text" id="icon" name="Icon" class="form-control" value="@Model.Icon" />
        <small class="form-text text-muted">Font Awesome gibi ikon sınıfı yazabilirsiniz.</small>
    </div>
</form>


