@model UserCommentUpdateDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}




<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h3 class="mb-3">Yorum Güncelleme Sayfası</h3>

                <form asp-action="Update" asp-controller="UserComment" asp-area="Admin" asp-route-id="@Model.UserCommentId" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="UserCommentId" />
                    
                    <label>Ad Soyad</label>
                    <input type="text" class="form-control" asp-for="NameSurname" />
                    <br />

                    <label>Email</label>
                    <input type="email" class="form-control" asp-for="Email" />
                    <br />

                    <label>Yorum Detayı</label>
                    <textarea class="form-control" asp-for="CommentDetail" rows="4"></textarea>
                    <br />

                    <label>Puan (1-5)</label>
                    <input type="number" min="1" max="5" class="form-control" asp-for="Rating" />
                    <br />

                    <label>Yeni Görsel (İsteğe Bağlı)</label>
                    <input type="file" class="form-control" asp-for="ImageFile" />
                    <br />

                    <label>Ürün ID</label>
                    <input type="number" class="form-control" asp-for="ProductID" />
                    <br />

                    <button class="btn btn-success">Yorumu Güncelle</button>
                    <a href="/Admin/UserComment/Index" class="btn btn-secondary">Geri Dön</a>
                </form>
            </div>
        </div>
    </div>
</section>

